<%-include('./partials/header') %>
<h1>Quotes by <%= username %></h1>
<% if(quote.length>0){ %>

    <% quote.forEach((quote)=>{ %>
    <div class="quotes">
        <h1>"<%= quote.text %>"</h1>
        <p> by <%= quote.creator %></p>
    </div>
   <% }) %>

<% } %>
<%-include('./partials/footer')%>