<%-include('./partials/header')%>
<form id="chinForm">
    <h1>Update the quote!</h1>
    <input type="text" name="text" id="text" placeholder="quote" value="<%= quote.text %>" required maxLength="100">
     <input type="text" name="origin" id="origin" placeholder="origin" value="<%= quote.origin %>" required>
    <input type="submit" name="creator" data-id="<%= quote._id %>">
</form>


<%-include('./partials/footer')%>
<script>
    const form = document.querySelector("form")
    form.addEventListener("submit", async e =>{
        e.preventDefault()
        const text = form.text.value;
        const origin = form.origin.value;
        const id = form.creator.dataset.id;
        

        //sender data for authentisering
        try{
            const res = await fetch("/updateQuote", {
                method: "POST",
                body: JSON.stringify({ text, id, origin }),
                headers: {"Content-Type": "application/json"}
            })
        //venter på data

        const data = await res.json()
        alert("quote updated!")
        location.assign("/")
        form.reset()



        }
        catch(err){
            console.log(err)
        }
       
    })

    
</script>
